/*
 Copyright 2011 The Go Authors.  All rights reserved.
 Use of this source code is governed by a BSD-style
 license that can be found in the LICENSE file.
*/
 html, body {
    -webkit-font-smoothing:antialiased;
    background: #f8f8f8;
    margin: 0;
    border: 0;
    padding: 0;
}
body, input, button {
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    color: #444;
}
* {
    box-sizing: border-box;
    outline: none;
}
*:disabled {
    color: #888;
}
.container {
    width: 80%;
    max-width: 480px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    font-size: 3em;
    font-weight: 200;
}
a, input[type=submit] {
    cursor: pointer;
    display: block;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    color: #333;
}
a:hover, input[type=submit]:hover {
    background: #ccc;
    transition: background 250ms;
}
li {
    list-style: none;
    padding: 5px;
}
li.done {
    color: #888;
    text-decoration: line-through;
}
li > .checkbox {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: white;
    margin-right: 8px;
    border-radius: 2px;
    border: 1px #ddd solid;
    cursor: pointer;
}
li.done > .checkbox {
    background: #888;
}
input[type=text] {
    width: 85%;
}
input[type=submit] {
    float: right;
}
.rounded-box {
    padding: 10px;
    border-radius: 4px;
    border: 1px #ddd solid;
}
.centered {
    text-align: center;
}
.white {
    background: #fff;
}
.grey {
    background: #eee;
}
.charcoal {
    color: #fff;
    background: #444;
}
.logs {
    margin-top: 10px;
}
.logs div.error {
    background: #faa;
}
.logs div.info {
    background: #afa;
}
.clickable {
    cursor: pointer;
}